Pankyfood/Pankyfood/Connected Services/ServiceReference1/Procedimientos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Insertar_Alimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insertar_AlimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Insertar_AlimentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Listado_Alimento">
        <s:complexType />
      </s:element>
      <s:element name="Listado_AlimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Listado_AlimentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eliminar_Alimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eliminar_AlimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Eliminar_AlimentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar_Alimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar_AlimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Actualizar_AlimentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Insertar_AlimentoSoapIn">
    <wsdl:part name="parameters" element="tns:Insertar_Alimento" />
  </wsdl:message>
  <wsdl:message name="Insertar_AlimentoSoapOut">
    <wsdl:part name="parameters" element="tns:Insertar_AlimentoResponse" />
  </wsdl:message>
  <wsdl:message name="Listado_AlimentoSoapIn">
    <wsdl:part name="parameters" element="tns:Listado_Alimento" />
  </wsdl:message>
  <wsdl:message name="Listado_AlimentoSoapOut">
    <wsdl:part name="parameters" element="tns:Listado_AlimentoResponse" />
  </wsdl:message>
  <wsdl:message name="Eliminar_AlimentoSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminar_Alimento" />
  </wsdl:message>
  <wsdl:message name="Eliminar_AlimentoSoapOut">
    <wsdl:part name="parameters" element="tns:Eliminar_AlimentoResponse" />
  </wsdl:message>
  <wsdl:message name="Actualizar_AlimentoSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar_Alimento" />
  </wsdl:message>
  <wsdl:message name="Actualizar_AlimentoSoapOut">
    <wsdl:part name="parameters" element="tns:Actualizar_AlimentoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Insertar_Alimento">
      <wsdl:input message="tns:Insertar_AlimentoSoapIn" />
      <wsdl:output message="tns:Insertar_AlimentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Listado_Alimento">
      <wsdl:input message="tns:Listado_AlimentoSoapIn" />
      <wsdl:output message="tns:Listado_AlimentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Alimento">
      <wsdl:input message="tns:Eliminar_AlimentoSoapIn" />
      <wsdl:output message="tns:Eliminar_AlimentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Alimento">
      <wsdl:input message="tns:Actualizar_AlimentoSoapIn" />
      <wsdl:output message="tns:Actualizar_AlimentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insertar_Alimento">
      <soap:operation soapAction="http://tempuri.org/Insertar_Alimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listado_Alimento">
      <soap:operation soapAction="http://tempuri.org/Listado_Alimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Alimento">
      <soap:operation soapAction="http://tempuri.org/Eliminar_Alimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Alimento">
      <soap:operation soapAction="http://tempuri.org/Actualizar_Alimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insertar_Alimento">
      <soap12:operation soapAction="http://tempuri.org/Insertar_Alimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listado_Alimento">
      <soap12:operation soapAction="http://tempuri.org/Listado_Alimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Alimento">
      <soap12:operation soapAction="http://tempuri.org/Eliminar_Alimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Alimento">
      <soap12:operation soapAction="http://tempuri.org/Actualizar_Alimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44361/Procedimientos.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44361/Procedimientos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>